page-horde {
    .imageDetail{
        margin: auto;
        position: relative;
    }   
    .cardButton{
        background-color: transparent;
        width: 100%;
    }
    .navbarItem{
        background-color: transparent !important;
    }   
    .squareButton{
        background-color: transparent;
        height: 55px;
        width: 55px;
        padding: 0px;
        margin: 1px;
    }
    .squareButtonCity{
        background-color: transparent;
        height: 70px;
        width: 70px;
        padding: 0px;
        margin: 1px;
    }
    .hordeDeck{
        background-color: transparent;
        z-index:0;
	    position: absolute;
        width: 100%;
        left: 0px;
    }
    .refresh{
        background-color: rgba(0,0,0,0.4);
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        display: block;
        z-index: 1;
    }
    .hordeDeckContainer{
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        display: block;
        position: absolute;
    }
}