<ion-header>
  <ion-navbar>    
    <ion-title>Mode solo</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="main"> 
  <div class="overview">
    <!-- CARD DETAIL OVERVIEW //////////////////////////// -->
    <img #cardDetail src="{{ currentCard.image }}"
    [style.display]="show == true ? 'inherit':'none'"
    (click)="showCardDetail()"
    class="imageDetail"/>

    <!-- HORDE CARDS //////////////////////////// -->
    <ion-grid [style.display]="show == true ? 'none':'inherit'">
      <ion-row>
        <ion-col col-6 text-center>
          <div class="hordeDeckContainer">
            <button  class="hordeDeck"
              (click)="onGetHordeCard()"
              [disabled]="hordeCards.length <= 0">
              <img src="assets/img/horde-cover.png"/>
            </button>
            <!-- REFRESH BUTTON //////////////////////////// -->
            <button class="refresh" ion-button icon-only text-center
              (click)="onResetHorde()"
              [style.display]="hordeCards.length > 0 ? 'none':'inherit'">
              <ion-icon name="md-refresh" color="snow"></ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col col-6 text-center>
          <button  class="cardButton" (click)="showCardDetail()">
           <img src="{{ currentCard.image }}"/>
           </button>
        </ion-col>
      </ion-row>
    </ion-grid>


<!-- CITY TILES + CURRENT TILE //////////////////////////////////-->      
    <ion-fab center bottom>
      <button ion-fab [style.backgroundColor]="'rgba(0,0,0,0.4)'"
        (click)="onResetTiles()">
        <ion-icon name="md-refresh" color="snow"></ion-icon>
      </button>
    </ion-fab>
        
    <ion-grid>
      <ion-row>
        <!-- BLACKWOOD CITY //////////////////////////////////-->          
        <ion-col col-3 text-center class="noPaddingCol">
          <button  
          class="squareButtonCity"
          (click)="onGetBlackwoodTile()"
          [disabled]="blackWoodTiles.length <= 0">
            <img class="tile" src="assets/img/tile_blackwood.png"/>
          </button>
        </ion-col>

        <!-- CURRENT BLACKWOOD TILE //////////////////////////////////-->          
        <ion-col col-3 text-center class="noPaddingCol">
          <button clear class="squareButtonCity">
            <img src="{{currentBlackwoodTile.image}}" [style.border]="'2px solid #ffcc00'"/>
          </button>
        </ion-col>

        <!-- CURRENT SILENTPEAK TILE //////////////////////////////////-->          
        <ion-col col-3 text-center class="noPaddingCol">
          <button clear class="squareButtonCity">
            <img src="{{currentSilentpeakTile.image}}" [style.border]="'2px solid #ffcc00'"/>
          </button>
        </ion-col>

        <!-- SILENT PEAK CITY //////////////////////////////////-->          
        <ion-col col-3 text-center class="noPaddingCol">
          <button clear 
            class="squareButtonCity"
            (click)="onGetSilentPeakTile()"
            [disabled]="silentPeakTiles.length <= 0">
            <img class="tile" src="assets/img/tile_silentpeak.png"/>
          </button>
        </ion-col>        
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col col-6 text-center class="noPaddingCol">
          <button clear class="squareButton" *ngFor="let i of blackWoodDiscardTiles; let idx = index">
            <img src="{{i.image}}" 
              *ngIf="idx == blackWoodDiscardTiles.length-1 && initTileBlackwood == false && i !== currentBlackwoodTile" 
              [style.border]="'2px solid #ffcc00'"/>
            <img src="{{i.image}}" 
              *ngIf="idx !== blackWoodDiscardTiles.length-1 || initTileBlackwood == true && i !== currentBlackwoodTile" 
              [style.border]="'1px solid #000000'"/>
          </button>
        </ion-col>
        <ion-col col-6 text-center class="noPaddingCol">
          <button clear class="squareButton" *ngFor="let i of silentPeakDiscardTiles; let idx = index">
            <img src="{{i.image}}" 
              *ngIf="idx == silentPeakDiscardTiles.length-1 && initTileSilentPeak == false && i !== currentSilentpeakTile" 
              [style.border]="'2px solid #ffcc00'"/>
            <img src="{{i.image}}" 
              *ngIf="idx !== silentPeakDiscardTiles.length-1 || initTileSilentPeak == true && i !== currentSilentpeakTile" 
              [style.border]="'1px solid #000000'"/>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>