page-scoring {
    ion-navbar{
        background-color: transparent;
    }
    .rightButton{
        width: 40px;
    }
    .playerName{
        color: #ffffff;
        font-size: 12px;
        padding: 0px;
        margin: 0;
    }   
    .input{
        background-color: rgba(0,0,0,0.5);
        border-radius: 5px;
        color: #ffffff;
        text-align: center;
        border: 1px solid transparent;
        height: 30px;
        margin-top: -5px;
        margin-bottom: -5px;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        
    }
    h5{
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        margin: 0;
    }
    .roundButton{
        border-radius: 40px;
        height: 40px;
        width: 40px;
    }
    .playerCell{
        padding: 0px;
    }
}
