page-home {
      ion-content{
        background-image: url('../assets/img/gaz.jpg');
        -webkit-background-image: url('../assets/img/gaz.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center; 
    }
    .headerLabel{
        color: #ffffff;
        font-size: 18px;
        text-align: center;
    }
    ion-item{
        background-color: transparent !important;
        color: #ffffff !important;
        font-size: 16px !important;
    }
    .setting{
        background-color: rgba(255,255,255,0.2);
        //opacity: 0.2;
        border-radius: 10px;
        border-color: #ffffff;
        border-width: 2px;
    }
    .form{
        position: absolute;
        bottom: 30%;
        left: 50px;
        right: 50px;
    }
}
