page-home {
     ion-content{
        background-image: url('../assets/img/gaz.jpg');
        -webkit-background-image: url('../assets/img/gaz.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center; 
    }
    ion-item{
        background-color: transparent !important;
        color: #ffffff !important;
        font-size: 16px !important;
    }
    .setting{
        background-color: rgba(0,0,0,0.3);
        border-radius: 10px;
        border-color: #ffffff;
        border-width: 2px;
    }
    .formContainer2{
        left: 50px;
        right: 50px;
    }
    .buttonContainer{
       margin-top: 20px;
    }
}