<ion-header>
  <ion-navbar>
    <ion-title>Outlive Tile Picker</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main"> 
  <!--<div class="overview">-->
    <div text-center>
      <button ion-button outline (click)="onResetTiles()" class="outliveButton">JOUR SUIVANT</button>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col col-6 text-center>
          <button ion-button clear color="snow" (click)="onGetSilentPeakTile()" class="squareButton" [disabled]="silentPeakTiles.length <= 0">SILENT PEAK</button>
        </ion-col>
        <ion-col col-6 text-center>
          <button ion-button clear color="snow" (click)="onGetBlackwoodTile()" class="squareButton" [disabled]="blackWoodTiles.length <= 0">BLACKWOOD</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-item *ngFor="let i of silentPeakDiscardTiles" class="tile" no-lines>{{ i.tile }}</ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item *ngFor="let i of blackWoodDiscardTiles"  class="tile" no-lines>{{ i.tile }}</ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!--</div>-->
</ion-content>
