<ion-content class="main"> 
  <div class="overview">
    <button ion-button class="backbutton" (click)="back()"
    text-center clear icon-only color="snow">
      <ion-icon color="snow" name="md-arrow-back"></ion-icon>
      <ion-label color="snow">Retour</ion-label>
    </button>
    <ion-grid>
      <ion-row>
        <ion-col col-4 text-center>
          <button  
          class="squareButton"
          (click)="onGetBlackwoodTile()"
          [disabled]="blackWoodTiles.length <= 0">
            <img src="assets/img/tile_blackwood.png"/>
          </button>
        </ion-col>
        <ion-col col-4 text-center>
           <!--<ion-fab center>
              <button ion-fab icon-only clear class="fabClear" (click)="onResetTiles()">
                <ion-icon color="snow" item-right name="md-refresh"></ion-icon>
              </button>
          </ion-fab>
 -->
        <button class="refresh" ion-button icon-only text-center
        (click)="onResetTiles()">
          <ion-icon name="md-refresh" color="snow"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4 text-center>
          <button clear 
          class="squareButton"
          (click)="onGetSilentPeakTile()"
          [disabled]="silentPeakTiles.length <= 0">
            <img src="assets/img/tile_silentpeak.png"/>
          </button>
        </ion-col>        
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col col-6 text-center class="noPaddingCol">
          <button clear class="squareButton" *ngFor="let i of blackWoodDiscardTiles; let idx = index">
            <img src="{{i.image}}" *ngIf="idx == blackWoodDiscardTiles.length-1 && initTileBlackwood == false" [style.border]="'2px solid #ffcc00'"/>
            <img src="{{i.image}}" *ngIf="idx !== blackWoodDiscardTiles.length-1 || initTileBlackwood == true" [style.border]="'1px solid #000000'"/>
          </button>
        </ion-col>
        <ion-col col-6 text-center class="noPaddingCol">
          <button clear class="squareButton" *ngFor="let i of silentPeakDiscardTiles; let idx = index">
            <img src="{{i.image}}" *ngIf="idx == silentPeakDiscardTiles.length-1 && initTileSilentPeak == false" [style.border]="'2px solid #ffcc00'"/>
            <img src="{{i.image}}" *ngIf="idx !== silentPeakDiscardTiles.length-1 || initTileSilentPeak == true" [style.border]="'1px solid #000000'"/>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>