page-map {
    .main {
        background-image: url('../assets/img/outlive-background2.jpg');
        -webkit-background-image: url('../assets/img/outlive-background2.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }
}
