page-stat {
    ion-navbar{
        background-color: transparent;
    }
    ion-list{
        padding-left: 10px;
        padding-right: 10px;
    }
    .scoreItemHead{
        background-color: rgba(0,0,0,0.6);
        min-height: 10px;
        height: 30px;
        font-size: 14px;
    }
    .scoreItem{
        background-color: rgba(0,0,0,0.4);
        min-height: 10px;
        height: 30px;
    }
    .name{
        padding: 0px;
        margin: auto;
    }
    .score{
        
        padding: 0px;
        margin: auto;
        font-size: 14px;
    }
    .headLineIcon{
        /*vertical-align: middle;
        background-color: #ffcc00;
        text-align: center;
        font-size: 16px;
        width:15px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;*/

        
        font-size: 16px;
        position: absolute;
        padding: 0px;
        left: 0px;
        padding-top:5px;
        height: 100%;
        width: 10px;
        height: 50px;
        display: block;
    }
}
